.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
}

.heading {
    color: lightblue;
    text-align: center;
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
}

.site-title {
    font-size: 3rem;
    color: darkgray;
    font-weight: 500;
    text-align: center;
    margin: 3rem 0;
}