.container {
    display: flex;
    justify-content: center;
    height: 1241px;
}

.text-container {
    display: block;
    padding: 2rem;
    background-color: #ededed;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    text-align: justify;
    width: 400px;
}

.text-title {
    text-align: center;
}

.poster-container {
    width: 877px;
}